
.invoice {
    background-color: white;
    padding: 20px;
    border: #F96E2A 4px solid;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1400px;
    margin: 20px auto;
    box-sizing: border-box;
}

.invoice h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.invoice-info, .invoice-items, .invoice-summary {
    margin-bottom: 20px;
}

.invoice-info p, .invoice-items p {
    font-size: 1em;
    margin: 5px 0;
}

.invoice-items table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.invoice-items th, .invoice-items td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.invoice-items th {
    background-color: #F96E2A;
    color: white;
}

.invoice-summary p {
    font-size: 1.2em;
    font-weight: bold;
}


@media (max-width: 768px) {
    .invoice {
        padding: 15px;
    }

    .invoice h2 {
        font-size: 1.5em;
    }

    .invoice-items table {
        font-size: 0.9em;
    }
}
